GOOGLE_API_KEY=
MODEL_ID=gemini-robotics-er-1.5-preview
SCENE_PATH=experimento-ur3.ttt

MIC_SAMPLE_RATE=16000
MIC_CHANNELS=1
STT_LANGUAGE=pt
STT_MODEL_SIZE=base
STT_DEVICE=cpu
STT_COMPUTE_TYPE=int8
STT_BEAM_SIZE=1
STT_VAD_FILTER=false
